* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #EFEFEF;
	font-family: "Roboto", sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border: none;
	padding: 0;
	margin: 0;
}


.container {
	max-width: 1140px;
	margin: 0 auto;
}

.promo {
	background: url(../img/main_bg.jpg) center center / cover no-repeat;
	padding: 22px 0 53px 0;
}

.title {
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.title__colored {
	color: #F9BF3B;
	font-size: 41px;
	line-height: 41px;
}

.title__size {
	font-size: 80px;
	color: #FFF;
	line-height: 80px;
}

.promo h1 {
	margin-bottom: 12px;
}

.promo h2 {
	margin-bottom: 12px;
}


.btn {
	width: 315px;
	height: 72px;
	margin: 0 auto;
	display: block;
	background: linear-gradient(0deg, #FF4D00 0%, #FEB05D 100%);
	border-radius: 4px;
	text-align: center;
	border: none;
	font-size: 21px;
	font-weight: 500;
	color: #fff;
	line-height: normal;

	cursor: pointer;
}

.logo {
	margin-bottom: 52px;

}

.logo__text {
	text-align: center;
	text-transform: uppercase;
	color: #FFF;	

}

.logo__img {
	margin: 0 auto;
	display: block;
	margin-bottom: 13px;
}

.promo__text {
	text-align: center;
	color: #FFF;
	size: 21px;
	line-height: 21px;
	margin-bottom: 75px;
}

.promo__text span {
	color: orange;

}

.promo__more-text {
	color: #FFF;
	text-align: center;
	size: 15px;
	line-height: 18px;
	margin-bottom: 10px;
	margin-top: 75px;
}

.promo__more-img {
	margin: 0 auto;
	display: block;
	width: 34px;
	cursor: pointer;
}

.vebinar__title {
	font-weight: 500px;
	font-size: 30px;
	line-height: 27px;
	margin-bottom: 14px;
	color: #252525;
}

.vebinar__subtitle {
	font-weight: 500px;
	font-size: 23px;
	line-height: 27px;
	text-align: center;
	margin-bottom: 42px;
	color: #4A4A4A;

}
.divider{
	width: 220px;
	height: 7px;
	background-color: #F9BF3B;
	margin:0 auto;
	margin-bottom: 15px;
}

.vebinar{
padding: 80px 0 80px  0;

}

.vebinar__wrapper{
	display: flex;
	justify-content: space-between;

}
.vebinar__text{

	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
	text-align: center;
	color: #4A4A4A;


}	
.vebinar__item{
	width: 360px;
}

.vebinar__img{
	width: 100%;
	margin-bottom: 13px;
}
.info__title{
	text-align: right;
	color:  #F9BF3B;
	margin-bottom: 16px;	
}
 .info {
	background-color: black;
	padding: 100px 0 141px 0;

	position: relative;
 }


 .info__img{
		position: absolute; 
		top: 191px;
		left: 307px;
		z-index: 1;
		width: 615px;
		height: 361px;
 }

.info__img img{
	width: 100%;
	height: 100%;
}

.info__text{
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	text-align: right;
	padding-left: 420px;
	color: #FFF;
	margin-bottom: 22px;

	position: relative;
	z-index: 2;
}


.info__text.medium{
	font-weight: 600;
}

.img__train{
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
}
.training{
	background: url(../img/Bg.jpg) center center / cover no-repeat;
}

.train__logo{
	width: 100%;
	
}

.training__title{
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	color: #EFEFEF;
	text-transform: uppercase;
	padding-top: 80px;
	margin-bottom: 12px;
	
}

.divider{
	margin-bottom: 40px;
}



.train__wrapper {
	display: flex;
	justify-content: space-between;
	padding-bottom: 102px;

}


.train__round{
	width: 118px;
	height: 118px;
	background: #F9BF3B;
	border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-left: 57px;
	margin-right: 57px;
}

.train__img {
	display: block;
	margin: 0 auto;
	width: 60px;


}

.text__train{
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: #FFF;
	
}

.present{
	padding-bottom: 80px;
	padding-top: 80px;



}
.present__img{
	width: 155px;
	display: block;
	margin: 0 auto;
	margin-bottom: 80px;
}

.present__title{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	line-height: 45px;
	margin-bottom: 60px;
}
 .lesson{
	background-color:#0F0B0B;
	padding-top: 50px;
	padding-bottom: 50px;
 }

.lesson__img{
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

.lesson__title{
	font-size: 30px;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.lesson__subtitle{
	font-size: 36px;
	font-weight: 900;
	color: #F9BF3B;
	margin-bottom: 20px;
}

.lesson__text{
	font-size: 23px;
	font-weight: 500;
	color: #EFEFEF;
	text-align: center;
}

.footer{
	padding-top: 58px;
	padding-bottom: 58px;
	background-color: #1A1A1A;
	
}

.footer a{
	color: #888888;
	text-decoration: none;
}

.footer__block{
	text-align: center;
	color: #888888;
}


.footer .underline{
	text-decoration: underline;
}

.to-top-button{
	width: 50px;
	height: 50px;
	background: rgba(230, 227, 225, 0.8);
	position: fixed;
	bottom: 30px;
	right: 30px;
	transform: rotate(180deg);
	display: none;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	}

